.git
__pycache__
*.pyc
.venv
venv/
*.md
.idea
.vscode
static/**/*.mp4
static/**/*.mp3
static/**/*.wav
static/**/*.jpg
static/**/*.jpeg
static/**/*.png
static/**/*.gif
static/**/*.PNG
static/**/*.cur
!static/real_point_cursor.png
!static/crossfader.jpg
!static/donkey-cursor.cur
static/favicon.ico
static/*.ico
static/*.webmanifest
