#navbar {
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: revealdownward;
    animation-timing-function: ease-in-out;
  }

/* #bodytext {
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
    animation-name: flickering;
    animation-timing-function: ease;
    color: #eee
} */

@keyframes revealdownward {
    0% {
      transform: translateY(-100%);
    }
    10% {
      transform: translateY(-100%);
    }
    20% {
      transform: translateY(-100%);
    }
    30% {
      transform: translateY(-100%);
    }
    40% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(-100%);
    }
    60% {
      transform: translateY(-100%);
    }
    70% {
      transform: translateY(-100%);
    }
    80% {
      transform: translateY(0);
    }
    90% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes flickering {
    0% {
      color: #eee;
      text-shadow: 2px 2px #eee;
      transform: skewX(0);
    }
    5% {
      color: #eee;
      text-shadow: 2px 2px #eee;
      /* transform: skewX(0); */
    }
    10% {
      color: #eee;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(-5deg); */
    }
    15% {
      color: #eee;
      text-shadow: none;
      /* transform: skewX(-5deg); */
    }
    20% {
      color: #57d265;
      text-shadow: 2px 2px #eee;
      /* transform: skewX(0); */
    }
    25% {
      color: #eee;
      /* text-shadow: 2px 2px #ff8800; */
      /* transform: skewX(0); */
    }
    30% {
      color: #eee;
      /* text-shadow: 2px 2px #ff8800; */
      /* transform: skewX(0); */
    }
    35% {
      color: #eee;
      /* text-shadow: 2px 2px #ff8800; */
      /* transform: skewX(0); */
    }
    37% {
      color: #eee;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(0); */
    }
    40% {
      color: #D5DE2E;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(0); */
    }
    45% {
      color: #D5DE2E;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(0); */
    }
    50% {
      color: #D5DE2E;
      text-shadow: none;
      /* transform: skewX(0); */
    }
    55% {
      color: #D5DE2E;
      text-shadow: none;
      /* transform: skewX(0); */
    }
    60% {
      color: #D5DE2E;
      text-shadow: none;
      /* transform: skewX(0); */
    }
    65% {
      color: #D5DE2E;
      text-shadow: none;
      /* transform: skewX(0); */
    }
    68% {
      color: #D5DE2E;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(0); */
    }
    70% {
      color: #D5DE2E;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(0); */
    }
    75% {
      color: #D5DE2E;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(1deg); */
    }
    80% {
      color: #D5DE2E;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(1deg); */
    }
    85% {
      color: #D5DE2E;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(1deg); */
    }
    90% {
      color: #D5DE2E;
      text-shadow: none;
      /* transform: skewX(0); */
    }
    95% {
      color: #D5DE2E;
      /* text-shadow: 1px 1px #523213; */
      /* transform: skewX(0); */
    }
    100% {
      color: #D5DE2E;
      text-shadow: none;
      /* transform: skewX(5deg); */
    }
  }