/* body {
    font-family: Arial, sans-serif;
    text-align: center;
  } */

  /* #output {
    font-size: 18px;
    margin-top: 20px;
  } */

  /* #btn-no {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  } */
