#deck {
    /*float: bottom;*/
    position: absolute;
    top: 33%;
    left: 50%;
    width: 20em;
    z-index: 5;
    margin: 2em;
    /*cursor: url('/static/real_point_cursor.png'), auto;*/
}

#deck button {
    background-image: linear-gradient(135deg, #f09939, #e8cf85);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    /*display: block;*/
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    cursor: url('/static/real_point_cursor.png'), auto;
}

#deck button:hover {
    color: #fff;
}

#deck button > span {
    align-items: center;
    background: #0e0e10;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

#deck button:hover > span {
    /*background: #0e0e10;*/
    background: transparent;
}

#sampler {
        cursor: url('/static/real_point_cursor.png'), auto;
}
