html {
  margin:0;
  height:100%;
}
body {
    margin:0;
    height:100%;
    background: black;
    color: white;
}

#false_login {
    position:absolute;
    top:50%;
    left:50%;
    /*z-index:2;*/
    transform: translate(-50%, -50%);

}

/*#video_text{*/
/*    position: relative;*/
/*}*/

#video {
    float: left;
}

.container { position:relative; }
#container video {
    position:absolute;
    z-index:0;
    float: left;
}
#toptext {
    position:absolute;
    float:left;
    top:10%;
    left:35%;
    width: 65%;
    height: 90%;
    /*min-height: 100%;*/
    color: #FF73B8FF;
    /*color: #eee;*/
    /*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
    /*text-shadow: 0 0 3px #FF73B8FF;*/
    /*text-shadow: 2px 2px #ff0000;*/
    /*text-shadow: 2px 2px 4px #ff73b8;*/
    /*background-color:#000;*/
    z-index:1;
    font-size: 69px;
    /*line-break: anywhere;*/
    /*word-break: normal;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;*/
    /*font-weight: 100;*/
}
#toptext marquee {
    height: 100%
}
#toptext a:link {
    color: #eee
}
#toptext a:visited {
    color: #eee
}
#toptext a:hover {
    color: #FF73B8FF
}
#player {
    position:absolute;
    /*float: left;*/
    top:5%;
    left:90%;
}
#bottomtext button{
    position: absolute;
    top:20%;
    left:90%;
    z-index: 3;
}
/*#bottomtext {*/
/*    float: left;*/
/*    !*position: absolute;*!*/
/*    !*left:666px;*!*/
/*}*/
#sidetext {
    /*position: absolute;*/
    float: left;
    /*margin:0 10px 10px 0;*/
}
