html {
  margin:0;
  height:100%;
}
body {
    margin:0;
    height:100%;
    background: black;
    color: white;
}

#false_login {
    position:absolute;
    top:50%;
    left:50%;
    /*z-index:2;*/
    transform: translate(-50%, -50%);

}

/*#video_text{*/
/*    position: relative;*/
/*}*/

#video {
    float: left;
}

.container { position:relative; }
#container video {
    position:absolute;
    z-index:0;
    float: left;
}
#toptext {
    position:absolute;
    float:left;
    top:10%;
    left:35%;
    width: 50%;
    height: 90%;
    /*min-height: 100%;*/
    color: #FF73B8FF;
    /*color: #eee;*/
    /*text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;*/
    /*text-shadow: 0 0 3px #FF73B8FF;*/
    /*text-shadow: 2px 2px #ff0000;*/
    /*text-shadow: 2px 2px 4px #ff73b8;*/
    /*background-color:#000;*/
    z-index:1;
    font-size: 69px;
    /*line-break: anywhere;*/
    /*word-break: normal;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;*/
    /*font-weight: 100;*/
}
#toptext marquee {
    height: 100%
}
#toptext a:link {
    color: #eee
}
#toptext a:visited {
    color: #eee
}
#toptext a:hover {
    color: #FF73B8FF
}
#player {
    position:absolute;
    /*float: left;*/
    top:5%;
    left:90%;
}

/*#bottomtext {*/
/*    z-index: 5;*/
/*}*/
#bottomtext button {
    position: absolute;
    top:20%;
    left:90%;

    padding: 2px;
    outline: 0;
    font-size: 17px;
    color: rgb(255, 255, 255);
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#fdde5c),
        color-stop(#f8ab5e),
        color-stop(#f56a62),
        color-stop(#a176c8),
        color-stop(#759beb),
        color-stop(#65beb3),
        to(#70db96)
    );
    background: linear-gradient(
        to right,
        #fdde5c,
        #f8ab5e,
        #f56a62,
        #a176c8,
        #759beb,
        #65beb3,
        #70db96
    );
    border-radius: 30px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
}

#bottomtext button > span {
    display: block;
    padding: 10px 20px;
    font-size: 17px;
    background: #0e0e10;
    border-radius: 30px;
}

#bottomtext button:hover > span {
    background: transparent;
}

#sidetext {
    /*position: absolute;*/
    float: left;
    /*margin:0 10px 10px 0;*/
}

#sampler {
    /*float: bottom;*/
    position: absolute;
    top: 30%;
    left: 50%;
    width: 20em;
    z-index: 4;
    margin: 2em;
}

#sampler button {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    /*display: block;*/
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
}

#sampler button:hover {
    color: #fff;
}

#sampler button > span {
    align-items: center;
    /*background: #0e0e10;*/
    border-radius: 6px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
}

#sampler button:hover > span {
    background: #0e0e10;
    /*background: transparent;*/
}
