<!DOCTYPE html>
<html lang="en">

<nav>
    <div id="navbar">
        <a href="shirt">👕</a>
        <a href="atl">🍑</a>
        <a href="shrek">🧅</a> <!--🧌-->
        <a href="peaceandlove">✌🏾💖</a>
        <a href="spook">🎃</a>
        <a href="elsewhere">🍺</a>
    </div>
</nav>

<head>
    <meta charset="UTF-8">
    {#    Favicon#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    <link rel="stylesheet" href='/static/style.css' />

    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
</body>
</html>
