{% extends 'base.html' %}

{% block head %}
    <title>🐹🕺🏾</title>
    <link rel="stylesheet" href='/static/thankgod/style.css' />
    {#    Font#}
    <!-- <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Mea+Culpa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Sigmar+One&family=Sorts+Mill+Goudy:ital@1&display=swap" rel="stylesheet">
    <script src="https://use.edgefonts.net/unifrakturcook:n7:all.js"></script> -->
{% endblock %}

{% block body %}
<div id="bodytext">
    <!-- <img id='bg_img' src="{{ url_for('static', filename=background) }}"> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Hktu4kUYJ5U?start=738" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Hktu4kUYJ5U?clip=UgkxWYcGlq9fyYrXmn8FumIGFX0Mcym4Wbwb&amp;clipt=EOjpCRi1mAs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br>
    <a href="https://withfriends.co/event/16179553/hamster_prom_dance_the_night_away">
        <img alt="dibidi ba didi dou dou" src="{{ url_for('static', filename='hamster/hamster2.gif') }}">
    </a>
    <a href="https://www.youtube.com/watch?v=HIviLb56ymw">
        <img alt="di ba didi dou" src="{{ url_for('static', filename='hamster/hamster2.gif') }}">
    </a>
    <a href="promposal">
        <img alt="didi didldildidldidl houdihoudi dey dou" src="{{ url_for('static', filename='hamster/hamster2.gif') }}">
    </a>
</div>
{% endblock %}
