{% extends 'base.html' %}

{% block head %}
    <title>💍</title>
    <link rel="stylesheet" href='/static/harmony/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="bodytext">
    <div class="glow-marquee">
        <div class="glow-text">get married at my next set !</div>
    </div>
</div>
<div style="width: 600px; padding: 0px; border: 0px; margin: 0px; text-align:center; font-weight: bold;"><a href="https://www.youtube.com/watch?v=tMEWY4ZszUs" ><img src="https://www.ulc.org/credentials/ordination-certificate-S3Jpc2ggUmF2aW5kcmFuYXRoXjExLzE5LzIwMjRebGFyZ2VeZnJlZV4,.jpg" alt="My Universal Life Church Ordination" style="float: left; padding: 3px; border: 0px; margin: 0px; "/></a><br /></div>
{% endblock %}
