{% extends 'base.html' %}

{% block head %}
    <title>Nice November</title>
    <link rel="stylesheet" href='/static/nice/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Offline October</h1>
<div class="bodytext">

<h2>Motivation</h2>
<p>
Perform one act of kindness every day. Could be for a stranger, an acquaintance, a loved one, or for yourself.
I would suggest trying to switch it up- sometimes a stranger, sometimes yourself, etc.. The opportunity to be nice
will present itself to you everyday and all you have to do it be open to it.
</p>

<p>
As always, follow your heart.
</p>

<h2>Join</h2>
<p>
    <ul>
        <!-- <li><a href="nice/tushar">Badde Bhaiyya T</a></li> -->
    </ul>
</p>
<p>
    If you would like to participate, email me a statement. A picture of you would be nice too.
    The only hard requirements are your statement, and letting me know if you would like it added to the
    website.
</p>
<p>
    At the end of the month, I will check in with each participant and request a reflection.
</p>
<p>
    <a href="mailto:krish@[thiswebsite]">krish@[thiswebsite]</a>
</p>
<br>
</div>
</div>
{% endblock %}
