{% extends 'base.html' %}

{% block head %}
    <title>Offline October</title>
    <link rel="stylesheet" href='/static/offline/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<h1>Offline October</h1>
<div class="bodytext">
    <h2>Parameters</h2>

Consider this:
<ol>
    <li>Social media was a mistake.</li>

</div>
{% endblock %}
