{% extends 'base.html' %}

{% block head %}
    <title>Emma is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Emma is offline in October</h1>
<div class="bodytext">

<h2 id="statement">Statement</h2>
<blockquote>
    "I intend to give up: Twitter, LinkedIn and listening to music when walking or on the tube. Don't feel the need
    to pressure myself to take something up !"
    <br>
</blockquote>

{% endblock %}
