{% extends 'base.html' %}

{% block head %}
    <title>Tushar is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Tushar is offline in October</h1>
<div class="bodytext">

<h2>Statement</h2>
<blockquote>
    "As a part of Handsome Krishu's thingamajig for October. I pledge to delete all news apps
    (BBC, ABC, Ground News, Al Jazeera, Google News, so on and so forth). I will not visit
    these sources on any device and ignore any links provided in comms apps (WhatsApp etc).
    The only exception will be specifically if someone advises I read something relating to
    Freya (baby development, baby legislation, my baby robbed a bank etc). In lieu of time
    spent on news, I will write a daily paragraph of what I hypothesize the world is up to.
    This can extend to politics, science, innovation, or any standard inclusion in a
    traditional news publication."
</blockquote>

{% endblock %}
