{% extends 'base.html' %}

{% block head %}
    <title>Offline October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=2' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Offline October</h1>
<div class="bodytext">

<h2>Motivation</h2>
<p>
Social media is expertly designed to steal your attention and prey on human addiction.
Almost everything is an ad. If you are so privileged to do so, maybe a month long break
from any and all of it would do good for your soul. Perhaps it would even inspire some
new ideas or actualize some latent ambitions. Though the parameters I've outlined for myself
below are a tad convoluted- yours could be as simple as deleting your most used infinitely
scrolling app.
</p>

<p>
    All you have to do is pick something and stick to it.
</p>

<h2>Objections</h2>
<ul>
    <li>"I don't have a scrolling problem."</li>
        <ul>
            <li>Try it anyway- completely block out one form of social media. It's just one month.</li>
        </ul>
    <li>"I pay an app / device to limit my screen time."</li>
        <ul>
            <li>See above.</li>
        </ul>
    <li>"Where will I get recipes?"</li>
        <ul>
            <li>Write some down ahead of time! Or pick up a cookbook that's been laying around, or a new one from the bookshop.</li>
        </ul>
    <li>"But I have a highly curated algorithm!"</li>
        <ul>
            <li>It is my view that God has left you (but you can always find Her again).</li>
        </ul>
    <li>"You have attention deficit disorder and should be medicated."</li>
        <ul>
            <li>Word</li>
        </ul>
</ul>

<h2>Parameters</h2>
I will not use
<ul>
    <li>YouTube</li>
    <li>TV (all video streaming services + live TV)</li>
    <li>LinkedIn</li>
    <li>Discord</li>
    <li>Podcasts</li>
    <li>Instagram (deactivated already but reinforcing this)</li>
    <li>Dating apps (deleted already but reinforcing this)</li>
    <li style="color: #111;">Online adult content</li>
</ul>

Additionally
<ul>
    <li>Grayscale phone screen.</li>
    <li>Block all app notifications except ones that would really require immediate attention- messages, calls, pet sitting app.</li>
</ul>

I will allow
<ul>
    <li>Live local radio</li>
    <li>TV in the company of others</li>
    <li>Audiobooks</li>
    <li>Whatsapp, but no stories.</li>
    <li>Duolingo</li>
</ul>

I will continue to
<ul>
    <li>Send my friends and family photos and ask them to send me photos.</li>
    <li>Go to to the movies!</li>
    <ul>
        <li>Dazzling images, on a huge silver screen. Sound that I can feel.</li>
    </ul>
</ul>

I will pickup
<ul>
    <li>Daily guitar practice</li>
</ul>

<h2>Join</h2>
<p>
    <ul>
        <li><a href="offline/tushar">Badde Bhaiyya T</a></li>
    </ul>
</p>
<p>
    If you would like to participate, email me a statement describing what online activity you would
    like to drop for the month of October. If you would like- include something you want to pick up
    (though I also encourage reclaiming your attention and time without the pressue of adding
    something to the mix), and any parameters you'd like to follow. A picture of you would be nice too.
    The only hard requirements are your statement, and letting me know if you would like it added to the
    website- because I would.
</p>
<p>
    <a href="mailto:krish@[thiswebsite]">krish@[thiswebsite]</a>
</p>
<br>
</div>
</div>
{% endblock %}
