{% extends 'base.html' %}

{% block head %}
    <title>Joyce is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Joyce is offline in October</h1>
<div class="bodytext">

<h2 id="statement">Statement</h2>
<blockquote>
    "Super idea Krishu<br>
    Off all TV shows n catch up on my reading (n my sleep)<br>
    Love you kiddo"
</blockquote>


<h2 id="reflection">Reflection</h2>
<blockquote>
    <p>
        "Hey Krishu<br>
        31 days up...didn't sit in front of the idiot box at all<br>
        Read a fab book Being Mortal and just finished another<br>
        Thank you so much...was really worth it"<br>
    </p>
</blockquote>
<br>
{% endblock %}
