{% extends 'base.html' %}

{% block head %}
    <title>Casey is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Casey is offline in October</h1>
<div class="bodytext">

<h2>Statement</h2>
<blockquote>
    "Reality TV has become my default comfort zone. It is an endless scroll of drama and distraction for me.
    While entertaining, it's time to reclaim my evenings and redirect my energy toward more fulfilling activities.
    This October, I aim to step back from Bravo and similar shows."
</blockquote>

<h2>Parameters</h2>
<p><ul>
    <li><b>No solo Bravo watching - or any other reality TV shows that are similar</b></li>
    <li><b>Exceptions:</b></li>
    <ul>
        <li>I can watch new episodes of currently airing shows (e.g., RHOSLC) as they release.</li>
        <li>I can watch old episodes if I'm doing so with others as part of a shared activity.</li>
        <ul>
            <li>This is rare, but I do enjoy my time with friends when it happens</li>
        </ul>
    </ul>
    <li>New Focus:</li>
    <ul>
        <li>Reading profusely again (this year has slipped away from me!</li>
        <ul>
            <li>Specifically reading all of Harry Potter this month and watching the movies</li>
        </ul>
        <li>Engage in at least one intentional, screen-free/sound-free activity each day (e.g., journaling, cooking, walking).</li>
        <li>Watching meaningful films I have been putting off, due to my real housewives queens</li>
    </ul>
    <br>

{% endblock %}
