{% extends 'base.html' %}

{% block head %}
    <title>Jessie is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Jessie is offline in October</h1>
<div class="bodytext">

<h2>Statement</h2>
<blockquote>
    <p>
    "HIIII
    </p>
    <br>
    <p>
    Sorry I'm so late! But I've been doing all of these things since late Sept when you first WhatsApp'ed about it :)"
    </p>
</blockquote>

<h2>Parameters</h2>
<p><ul>
        <li>No podcasts except once-daily Democracy Now for news</li>
        <ul>
            <li>***there are a few rare exceptions to this like listening to analysis of One Battle After Another right after seeing it***</li>
            <li>the reason I'm doing this one is because I find that I often listen to podcasts without actually listening to them just to have voices on in the background, and I also find it hard to take a break once I start listening to one. ALSO there is a feeling of never listening to enough content and they just keep coming out with more and more and I can never keep up.</li>
        </ul>
        <li>No YouTube</li>
        <li>Deleted email app from my phone</li>
        <li>No social media (FB, Instagram)</li>
        <ul>
            <li>Note: this is the one I will prioritize most strictly! I barely go on social media already, but I find that even if I go on for a very specific reason to find something, I end up being sucked in at an alarming intensity and rate!</li>
        </ul>
    </ul>
    <blockquote>
        "Because I am not doing podcasts, I am listening to a lot more music which fills my cup significantly more!"
    </blockquote>
</p>

<h2>Reflection</h2>
<blockquote>
    <p>
        "I reeeeeally liked not going on social media at all...it truly sends me into a horrible spiral even when I just
        go on for 3 minutes and so completely and totally not doing that was wonderful. It was challenging for me to go
        without podcasts but a good exercise, and it helped me feel a lift from the feeling of I HAVE to listen to this /
        keep up with everything / listen to the whole thing / not miss out. I didn't listen to many, many things and
        everything was totally fine...
    </p>
    <br>
    <p>
        Also started the process of deleting apps from my phone and just having them on my iPad. It's difficult to know
        what you "need" on your phone and also the modern world definitely makes it difficult (e.g. I deleted the gmail
        app but then immediately needed it to access a movie ticket...). Anyway it's a learning process."
    </p>
</blockquote>
<br>
{% endblock %}
