{% extends 'base.html' %}

{% block head %}
    <title>Manan is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Manan is offline in October</h1>
<div class="bodytext">

<h2>Parameters</h2>
    <ul>
    <li>Continue decrease in usage of WhatsApp (only for essentials and urgent messages)</li>
    <li>Reduce time on Instagram considerably and mainly use for official employer branding activities</li>
    <li>Need to use LinkedIn for my role/ job</li>
    <li>I’m not on Facebook</li>
</ul>
<blockquote>
"All the best & Love, MW"
<br>
</blockquote>

{% endblock %}
