{% extends 'base.html' %}

{% block head %}
    <title>Ammad is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Ammad is offline in October</h1>
<div class="bodytext">

<h2>Statement</h2>
<blockquote>
    "Hello Handsome,

    For the month of October I will be remaining logged off of Instagram, the only social media I continue to use
    outside of substack (which doesn't count). I will also be joining you in not watching television unless I am joined
    by friends, hopefully to watch some fun horror movies. Things I would like to continue are my studies at school and
    independently, challenging myself to read more books about art and creativity, maybe some horror as well. Something
    I would like to also challenge myself to do is to finish the music video I began several weeks ago for "Feel 4 U"
    coming to a website near you, soon !!

    I miss you Krish. I been really wrapped up in school and work and trying to write and record music in whatever free time I have left. Within the next year I will be in New York to come visit !!

    I'm offline, baby !!"
</blockquote>

{% endblock %}
