{% extends 'base.html' %}

{% block head %}
    <title>Offline October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Offline October</h1>
<div class="bodytext">

<h2>Motivation</h2>
<p>
    Social media is expertly designed to steal your attention and prey on human addiction.
    Almost everything is an ad. If you are privileged enough to step away from any or all of it,
    for just a month — consider what this might restore to your soul. In that silence and space,
    ideas that had been waiting patiently might arrive; latent ambitions waiting to be actualized
    might finally form. The framework I have set for myself below may be a bit elaborate- yours
    need not be. It could be as simple as deleting the one app that sucks you into a hole with its
    infinite scroll. Follow your heart!
</p>

<blockquote>
    "Do everything with a mind that lets go. Don't accept praise or gain or anything else. If you let
    go a little you a will have a little peace; if you let go a lot you will have a lot of peace; if you
    let go completely you will have complete peace."<br>
    <div align="right">― Ajahn Chah</div>
</blockquote>

<p>
    All you have to do is pick something and stick to it. LFG (let fucking go).
</p>

<h2>Objections</h2>
<div class="conversation">
  <div class="objection">"I don't have a scrolling problem."</div>
  <div class="response">Try it anyway — completely block out one form of social media. It's just one month.</div>

  <div class="objection">"I pay an app / device to limit my screen time."</div>
  <div class="response">See above.</div>

  <div class="objection">"Where will I get recipes?"</div>
  <div class="response">Write some down ahead of time! Or pick up a cookbook that's been laying around, or a new one from the bookshop.</div>

  <div class="objection">"But I have a highly curated algorithm!"</div>
  <div class="response">It is my view that God has left you (but you can always find Her again).</div>

  <div class="objection">"You have attention deficit disorder and should be medicated."</div>
  <div class="response">Word.</div>
</div>


<h2>Parameters</h2>
I will not use
<ul>
    <li>Television. Online video streaming (YouTube included)</li>
    <li>Social Media (I've deactivated Instagram, Facebook- even LinkedIn.)</li>
    <li>Dating apps (I've deleted these.)</li>
    <li>Discord</li>
    <li>Podcasts</li>
    <li>Online News</li>
    <li>Substack</li>
    <li>Duolingo (I will give up my streak at 888. Sorry Duo)</li>
    <li style="color: #000000;">Online adult content</li>
</ul>

Additionally
<ul>
    <li>Grayscale phone screen.</li>
    <li>Block all app notifications except ones that would really require immediate attention- messages, calls, pet sitting app.</li>
</ul>

I will allow
<ul>
    <li>Live local radio</li>
    <li>TV and video in the company of others</li>
    <li>Audiobooks</li>
    <li>Whatsapp, but no stories</li>
</ul>

I will continue to
<ul>
    <li>Send my friends and family photos and ask them to send me photos.</li>
    <li>Go to the movies</li>
    <ul>
        <li>Dazzling images, on a huge silver screen. Sound that I can feel.</li>
    </ul>
</ul>

I will pick up
<ul>
    <li>Daily music production practice - even just 5 minutes</li>
</ul>

<h2>Join</h2>
<p>
    <ul>
        <li><a href="offline/tushar">Badde Bhaiyya T</a></li>
        <li><a href="offline/amel">DJ amoola</a></li>
        <li><a href="offline/andrew">Andrew aka DJ Grape aka GrapeSalad aka list me however you want player</a></li>
    </ul>
</p>
<p>
    If you would like to take part, email me a statement naming the online activity you will
    relinquish for the month of October. You may, if you wish, pair that renunciation with
    something you intend to take up in its place — though I urge you not to burden yourself
    with the pressure of substitution. Reclaiming your attention and time is enough. Include
    any conditions you would like to set for yourself.

    The only true requirements are your statement, and letting me know if you would like it
    published here — because I would.
</p>
<p>
    When the month has ended, I will check in with each participant and request a reflection.
</p>
<p>
    <a href="mailto:krish@[thiswebsite]">krish@[thiswebsite]</a>
</p>
<br>
</div>
</div>
{% endblock %}
