{% extends 'base.html' %}

{% block head %}
    <title>Andrew is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Andrew is offline in October</h1>
<div class="bodytext">

<h2 id="statement">Statement</h2>
<blockquote>
    "Here on this 15th (fifteenth) day of September I do solemnly and intentionally relinquish my online vices
    and de-vices for the month of October. I will specifically be avoiding any use of IG on my personal account
    (I will allow myself to log in to my band's account solely for promoting shows and replying to booking requests
    - no scrolling). I will avoid algorithmic content on other apps as faithfully as possible; no apps with feeds,
    won't let music streaming apps suggest a next song, no autoplay. I will allow Youtube, but only on desktop, and
    only if I am opening the website in search of some specific video (and that video should have some
    educational/musical/cultural value, not just memes or random video essays etc). No clicking recommended videos,
    nothing suggested on the homepage. I hope to spend my newfound freedom practicing guitar and reading outside with
    the warm light of the sun on my brow."
    <br>
</blockquote>

<h2 id="reflection">Reflection</h2>
<blockquote>
    <p>
        "Although I was a bit nervous about my commitment leading into October, staying offline was easier than I expected.
        There were a few times where I felt a bit out of the loop and disconnected (like when a friend would make a
        reference to something I hadn't seen yet) ... but by the end of the month, it felt freeing to have time away from
        my phone and not feel the urge to scroll so regularly. It made me reflect on the ways I spend my time (and also
        made me notice other ways I waste time in my life, or become less present, even without my phone being in the
        picture). On the occasions that I did use my phone to text or call a friend, it felt more purposeful and less like
        shooting off quick messages to get back to The Feed. Definitely planning to use my phone more sparingly and
        purposefully in the future, and avoid absent minded scrolling when I can. During the month I did a lot of reading,
        wrote and recorded some music, and picked up a new hobby (soldering/analog audio repair and circuit building).
        Thanks again for the invite, Krish :-)
    </p>
    <br>
    <p>
        I remain, your friend,
        <br>
        Andrew"
    </p>
</blockquote>
<br>
{% endblock %}
