{% extends 'base.html' %}

{% block head %}
    <title>Amel is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Amel is offline in October</h1>
<div class="bodytext">

<h2>Statement</h2>
<blockquote>
    "I, amel amoola all ya money, am signing into handsomekrish.live's offline October because my algorithm
    is too strong (😮‍💨) and I must disconnect from unreality and reconnect to little g god (nature, friends,
    my inner self, movement, art, good sleep, family, intellect, etc). I'm off IG and will keep DND mode on
    when I can. Inshallah I'll start leaving my phone behind—I don't *need* reels to take a shit—and will
    instead pick up a handcraft or pencil when I want to pick up my phone. I'm allowing myself the premier
    league app, Wikipedia app,  Quizlet, and music."
    <br>
</blockquote>

{% endblock %}
