{% extends 'base.html' %}

{% block head %}
    <title>Jack is offline in October</title>
    <link rel="stylesheet" href='/static/offline/style.css?v=5' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Prata&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="main-content">
<h1>Jack is offline in October</h1>
<div class="bodytext">

<h2>Statement</h2>
<blockquote>
    "I, in a clear state of mind, will give up the website Youtube.com for all of October 2025. Youtube destroys
    my ability to do anything because the content is so great and so distracting. Hopefully this is a solution to
    me ignoring my responsibilities by watching hour and hours of "content"."
    <br>
</blockquote>

{% endblock %}
