{% extends 'base.html' %}

{% block head %}
    <title>Memory Oracle</title>
    <link rel="stylesheet" href='/static/oracle/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<h1>Memory Oracle</h1>
<div class="bodytext">
    <h2>Sequence</h2>

<h3>Part 1 - Memory</h3>
<ol>
    <li>Ask a loved one to send you a photo.</li>
    <ul>
        <li>Optional- tell them you love them, if it feels right, and if you want to.</li>
    </ul>
    <li>Look through a photo album of your own.</li>
    <ul>
        <li>This could be on your phone, computer, physical - recent photos, old photos - doesn’t matter.</li>
    </ul>
    <li>Pick the first image that sticks out to you.</li>
    <ul>
        <li>This could be the one that makes you feel some strong emotion, or memory you forgot about - positive, negative, thankful, wistful, scared - doesn’t matter.</li>
    </ul>
    <li>Give yourself at most 3 minutes to do this.</li>
    <li>When you receive the photo from your loved one- save it for the next time you run through this sequence- to use in place of a photo of your own.</li>
    <ul>
    <li>Feel free to ask them clarifying questions to help contextualize the photo and the feeling, or just invent or imagine a perspective and a context instead.</li>
    </ul>
</ol>

<h3>Part 2 - Music</h3>
<ol>
<li>Fiddle around on an instrument (physical / digital / whatever you want) of choice while looking at this photo to generate melody or progression ideas.</li>
<li>Use the <a href="generator">Generator</a> if you’d like to as a starting point - pick the first progression that feels right for the image.</li>
</ol>

<h3>Part 3 - Words</h3>
<ol>
<li>Page through the book you are reading at the moment, or a book you’ve read recently, or a book you were reading around the time the photo was taken.</li>
<li>Write down a couple of words or phrases that stand out as related to the photo / the emotion in some way.</li>
<li>What was out of the frame of the photo? If you know, write it down. If you don’t, imagine it.</li>
<li>Use what’s written down as a lyric bank.</li>
</ol>

Inspired by and borrowed from Emi’s <a href="https://docs.google.com/document/d/1CP6V0n_YqU7_d46s2YFXzZlFKek00H19qVta-2zqNGE/edit?usp=sharing">Photo Game</a>, and A.G Cook’s <a href="https://perchance.org/oracle404">Oracle</a>.

</div>
{% endblock %}
