<!DOCTYPE html>
<html>
<head>
    <!-- <title>🐹🕺🏾💃🏻?</title> -->
    <title>?</title>
    <link rel="stylesheet" href='/static/promposal/style.css' />
</head>

hi <br><br>

thank u for clicking around <br><br>

good things r on the way <br><br>

watch this space <br><br>
<!-- <body>
    sam bay, will you <span id="pls"></span>go to hamster prom with me?
<br>
<button id="btn-yes" href="promposal">YES</button>
<button id="btn-no" onclick="pls()">no</button> -->

<script>
    function pls() {
      document.title = "🧎🏾‍♂️";
      var outputElement = document.getElementById("pls");
      var existingText = outputElement.innerText;
      // Append "please" with space
      outputElement.innerText = existingText + " please ";
    }
</script>

</body>
</html>
