{% extends 'base.html' %}

{% block head %}
    <title>Wally</title>
    <link rel="stylesheet" href='/static/wally/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Mea+Culpa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Sigmar+One&family=Sorts+Mill+Goudy:ital@1&display=swap" rel="stylesheet">
    <script src="https://use.edgefonts.net/unifrakturcook:n7:all.js"></script>
{% endblock %}

{% block body %}
<div class="random-image-container">
    {% if img_url %}
        <img src="{{ img_url }}" alt="{{ name }}" class="random-image">
        <div class="refresh-hint">reload for more {{ name }}</div>
    {% else %}
        <div class="error-message">Ruh Roh! Wally is asleep at the moment- check back later.</div>
    {% endif %}
</div>
{% endblock %}
